/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-image-desktop: url(../images/cover-image.png);
  --accent-color: #ff0070;
  --main-title-color: #db00ff; 
  --shadow-main-title-desktop: #ff0070;
  --secondary-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --title-text-color: #000028;
  --hover-color: rgb(255, 153, 198);
  --font-family: 'IBM Plex mono', 'monospace', sans-serif;
  --font-bold: 700;
  --font-regular: 400;
  --font-size-text: 18px;
  --font-size-main-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-main-title-tablet: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-main-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

}
